@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #415167;
  --accent: #c7a17a;
  --darkGray: rgb(21, 29, 40);
  --lightAccent: rgb(249, 245, 232);
  --lightGrey: rgb(237, 240, 245);
  --mainFont: "Montserrat";
  --bg: rgb(249, 251, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--mainFont);
  height: 100vh;
  font-weight: 200;
  font-size: 15px;
  color: var(--primary);
  position: relative;
  background-color: var(--bg);
}
@media (max-width: 1280px) {
  body {
    font-size: 12px;
  }
}

.header {
  background-color: var(--primary);
  color: white;
  padding: 20px;
  width: 22%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: 85px;
  padding-left: 60px;
  padding-right: 80px;
  z-index: 1000;
  opacity: 1; /* начальная прозрачность */
  transition: opacity 0.2s ease;

  .header_img {
    margin-bottom: 110px;
  }
  .header_h1 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 35px;
  }
  .header-ul_item {
    margin-bottom: 27px;
  }
  .header-ul_item:hover {
    font-size: 16px;
  }
}

body.show-header .header {
  display: flex;
}
.main {
  .home {
    margin-bottom: 100px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 300px);
    .home-wrapper {
      margin-left: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 20px;
      margin-right: -232px;
      .home_h1 {
        color: var(--primary);
        font-weight: 800;
        font-size: 52px;
        letter-spacing: 0.03em;
        margin-top: 300px;
        z-index: 2;
        .home_h1_accent {
          color: white;
          background-color: var(--accent);
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          letter-spacing: 0.06em;
          margin-left: -13px;
        }
      }
    }
    .home_img {
      z-index: -1;
      filter: brightness(80%) contrast(160%) saturate(100%);
      height: 100vh;
    }
  }
  .about {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 160px;
    .about_info-wrapper {
      display: flex;
      justify-content: center;
      gap: 100px;
      .about_info {
        font-size: 12px;
        .about-info_desc {
          font-size: 15px;
          font-weight: 300;
        }
        .about_h3 {
          margin-top: 42px;
          margin-bottom: 16px;
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
  .menu {
    text-align: center;
    padding-bottom: 100px;
    margin: 0 auto;
    position: relative;
    .menu_wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
      .menu_point {
        display: flex;
        background-color: #fff;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

        .menu-point_img {
          background-color: rgb(236, 238, 244);
        }
        .menu_info {
          margin-left: 40px;
          text-align: left;
          margin-right: 44px;
          margin-top: 34px;
        }
      }
    }
  }

  .description {
    z-index: -2;
    padding-top: 85px;
    position: relative;
    text-align: center;

    padding-bottom: 140px;
    background-color: rgb(238, 240, 245);
    .desc_main {
      display: flex;
      margin-left: 120px;
      justify-content: center;

      .description_aside {
        position: relative;
        background-color: #fff;
        width: 60%;
        box-shadow: 4px 2px 8px 0px rgba(34, 60, 80, 0.2);
        margin-right: 2px;
        display: flex;
        padding-top: 50px;
        padding-right: 50px;
        .description_img {
          margin-left: -200px;
          margin-top: -8px;
        }
        .description_info {
          text-align: left;
          padding-left: 50px;
          padding-top: 20px;
          .description_h3 {
            margin-bottom: 20px;
          }
          .description_text {
            margin-bottom: 20px;
          }
          .description_details {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            .description_detail {
              display: flex;
              gap: 10px;
              font-size: 14px;
              .description_h4 {
                font-weight: 200;
                margin-bottom: 2px;
              }
              .description-detail_desc {
                font-weight: 400;
              }
            }
          }
          .button_group {
            display: flex;
            padding-right: 70px;
            justify-content: space-between;
          }
        }
      }
      .numbers {
        z-index: 100;
        font-size: 30px;
        font-weight: 800;

        border: 1px solid rgb(238, 240, 245);

        background-color: rgb(238, 240, 245);
        .number {
          padding: 60px 40px;
          opacity: 0.4;
        }
      }
      .numbers div:first-child {
        background-color: #fff;
        opacity: 1;
      }
    }
    .description_h2 {
      margin-bottom: 50px;
    }
  }
  .combo {
    position: relative;
    padding: 100px 0;
    text-align: center;
    .combo_wrapper {
      display: flex;
      justify-content: center;
      gap: 30px;
      .combo_point {
        background-color: #fff;
        .combo_img {
          background-color: rgb(238, 240, 245);
          width: 100%;
        }
        .combo_info {
          text-align: left;
          padding: 40px;
          .combo_price-group {
            display: flex;
            gap: 30px;
            margin-bottom: 10px;
            .old_price {
              text-decoration: line-through;
            }
          }
          .combo_h3 {
            margin-bottom: 15px;
          }
          .button_group {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

.footer {
  background-color: rgb(238, 240, 245);
  text-align: center;
  color: black;
  padding: 25px 0;
}
.menu::after {
  background-color: var(--primary);
  width: 285px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  z-index: -70;
}

.menu::before {
  content: "";
  position: absolute;
  right: 60px;
  top: 380px;
  width: 40px; /* размер круга */
  height: 40px;
  background-color: var(--accent); /* цвет круга */
  border-radius: 50%; /* делаем круг */
}

.menu .arrow {
  content: "";
  position: absolute;
  right: 76px; /* центрируем стрелку в круге */
  top: 393px;
  width: 12px;
  height: 12px;
  border-top: 2px solid white; /* белая стрелка */
  border-right: 2px solid white;
  transform: rotate(45deg);
  z-index: 900;
}

.description::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: var(--bg);
  z-index: -1;
  width: 27%;
}

.combo::after {
  background-color: var(--primary);
  width: 285px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  z-index: -70;
}

.combo::before {
  content: "";
  position: absolute;
  right: 60px;
  top: 520px;
  width: 40px; /* размер круга */
  height: 40px;
  background-color: var(--accent); /* цвет круга */
  border-radius: 50%; /* делаем круг */
}

.combo .arrow {
  content: "";
  position: absolute;
  right: 76px; /* центрируем стрелку в круге */
  top: 533px;
  width: 12px;
  height: 12px;
  border-top: 2px solid white; /* белая стрелка */
  border-right: 2px solid white;
  transform: rotate(45deg);
  z-index: 900;
}

.about_desc,
.menu_desc,
.description_desc,
.combo_desc {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 8px;
}
.about_h2,
.menu_h2,
.description_h2,
.combo_h2 {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 80px;
}

.description_h3,
.menu_h3,
.combo_h3 {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 18px;
  color: black;
}
.description_price,
.menu_price,
.combo_price {
  color: var(--accent);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.menu-point_desc,
.description_text,
.combo_text {
  font-size: 14px;
  color: black;
  font-weight: 300;
  margin-bottom: 30px;
}

.btn1 {
  background-color: var(--accent);
  border: none;
  border-radius: 20px;
  padding: 5px 17px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-right: 25px;
}
.btn1:hover {
  padding: 8px 20px;
  font-size: 15px;
}

.btn2 {
  background-color: #fff;
  border: none;
  color: var(--primary);
  font-size: 15px;
  font-weight: 400;
}
.btn2:hover {
  background-color: var(--accent);
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  border-radius: 20px;
  padding: 5px 17px;
}

Для планшетов и маленьких ноутбуков
@media (max-width: 1024px) {
  .header {
    width: 30%; /* Увеличиваем ширину на маленьких экранах */
    padding-left: 30px;
    padding-right: 30px;
  }

  .home {
    width: calc(100% - 30%); /* Адаптируем под новую ширину сайдбара */
    margin-left: 50px; /* Уменьшаем отступ */
  }

  .home-wrapper {
    margin-left: 50px !important;
    margin-right: 0 !important;
  }
}

/* Для планшетов */
@media (max-width: 768px) {
  .header {
    display: none; /* Скрываем сайдбар на мобильных */
  }

  .home {
    width: 100% !important;
    margin-left: 0 !important;
    flex-direction: column;
  }

  .home-wrapper {
    margin-left: 20px !important;
    margin-top: 50px;
  }

  .home_img {
    height: 50vh !important;
    width: 100%;
    object-fit: cover;
  }

  .about_info-wrapper {
    flex-direction: column !important;
    gap: 50px !important;
  }

  .menu_wrapper,
  .combo_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .desc_main {
    flex-direction: column;
    margin-left: 0 !important;
  }

  .description_aside {
    width: 90% !important;
    margin: 0 auto;
  }
}

/* Для мобильных */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .header {
    display: none !important; /* Скрываем сайдбар на мобильных */
  }
  .home {
    width: 100% !important;
    margin-left: 0 !important;
    flex-direction: column;
  }

  .home_h1 {
    font-size: 32px !important;
    margin-top: 100px !important;
  }

  .menu::after,
  .combo::after {
    width: 100px !important; /* Уменьшаем боковые полосы */
  }

  .menu::before,
  .combo::before {
    right: 20px !important;
  }

  .menu .arrow,
  .combo .arrow {
    right: 36px !important;
  }
}
